* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
     background: url("backgroundImage.png") no-repeat center center/cover;
    background-attachment: fixed;
    background-attachment: fixed;
    font-family: Poppins, sans-serif;
}

/* Header */
header {
    width: 100%;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 110px;
}

/* Navigation */
nav a {
    color: white;
    text-decoration: none;
    margin-left: 40px;
    font-weight: 300;
    font-size: 16px;
}

nav a:hover {
    opacity: 0.7;
}

body {
background: url("backgroundImage.png") no-repeat center center/cover;
    background-attachment: fixed;
    color: white;
}
   

.portfolio {
    padding-top: 150px;
    display: flex;
    justify-content: center;
}

.folder-stack {
    position: relative;
    width: 700px;
}

/* Each folder */
.folder {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: transform 0.25s ease, filter 0.25s;
}

.folder img {
    width: 700px;
    border-radius: 25px;
}

/* Layer positions */
.folder:nth-child(1) {
    top: 0px;  
    z-index: 3;
}

.folder:nth-child(2) {
    top: 70px;
    z-index: 2;
}

.folder:nth-child(3) {
    top: 140px;
    z-index: 1;
}

/* Hover effect: lift */
.folder:hover {
    transform: translateX(-50%) translateY(-25px);
    filter: brightness(1.15);
}

/* Hover ripple effect on folders below */
.folder:hover ~ .folder {
    transform: translateX(-50%) translateY(10px);
    filter: brightness(0.8);
}
